/* Template: Tivo SaaS App Website Bootstrap HTML Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Description
- Features
- Details
- Details Lightbox
- Video
- Pricing
- Testimonials
- Newsletter
- Social
- Footer
- Copyright
- Back To Top Button 
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar, buttons - blue #295397
- Backgrounds - light gray #f5f6fb
- Headings text - black #2f363b
- Body text - dark gray #6b747b
******************************************/

/**************************/
/*     General Styles     */
/**************************/
body,
html {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  width: 6px; 
} 
 
::-webkit-scrollbar-track { 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
} 
 
::-webkit-scrollbar-thumb { 
  background-color: #68c7fe; 
} 
 

body,
p {
  color: #6b747b;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
  color: #2f363b;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.2px;
}

h2 {
  color: #2f363b;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  letter-spacing: -0.2px;
}

h3 {
  color: #2f363b;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #2f363b;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

h5 {
  color: #2f363b;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #2f363b;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #6b747b;
  text-decoration: underline;
}

a:hover {
  color: #6b747b;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: #295397;
}

.white {
  color: #ffffff;
}

a.white:hover {
  color: #ffffff;
}

.contact-link:hover {
  color: #85d4ff;
}

.name-link {
  color: #85d4ff !important;
}

.name-link:hover {
  color: #1AADFF !important;
}

.download-tile {
  background-color: #f0f0f6;
  padding-top: 2rem;
  
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.download-tile:hover {
  background-color: #f8f8fe;
}

.download-col {
  transition: transform 0.5s;
  margin-bottom: 30px;
}

.download-col:hover {
  transform: translateY(-5px);
}

.section-title {
  color: #1bacff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bg-gray {
  background-color: #f5f6fb;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #295397;
  border-radius: 32px;
  background-color: #295397;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  border: 1px solid #295397;
  background-color: transparent;
  color: #295397; /* needs to stay here because of the forced color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border: 1px solid #295397;
  border-radius: 32px;
  background-color: #295397;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  border: 1px solid #295397;
  background-color: transparent;
  color: #295397; /* needs to stay here because of the forced color property of a tag */
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #2f363b;
  border-radius: 32px;
  background-color: transparent;
  color: #2f363b;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  border: 1px solid #2f363b;
  background-color: #2f363b;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border: 1px solid #2f363b;
  border-radius: 32px;
  background-color: transparent;
  color: #2f363b;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  border: 1px solid #2f363b;
  background-color: #2f363b;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #2f363b;
  border-radius: 32px;
  background-color: transparent;
  color: #2f363b;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  border: 1px solid #2f363b;
  background-color: #2f363b;
  color: #ffffff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.label-control {
  position: absolute;
  top: 0.875rem;
  left: 1.375rem;
  color: #7d838a;
  opacity: 1;
  font-size: 0.875rem;
  line-height: 1.5rem;
  cursor: text;
  transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
  top: 0.125rem;
  color: #6b747b;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: 700;
}

.form-control-input,
.form-control-select {
  display: block; /* needed for proper display of the label in Firefox, IE, Edge */
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 0.125rem;
  padding-left: 1.25rem;
  border: 1px solid #cbcbd1;
  background-color: #ffffff;
  color: #6b747b;
  font-size: 0.875rem;
  line-height: 1.875rem;
  transition: all 0.2s;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3.25rem;
  color: #7d838a;
}

select {
  /* you should keep these first rules in place to maintain cross-browser behavior */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}

.form-control-textarea {
  display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
  width: 100%;
  height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
  padding-top: 1.5rem;
  padding-left: 1.25rem;
  border: 1px solid #cbcbd1;
  background-color: #ffffff;
  color: #6b747b;
  font-size: 0.875rem;
  line-height: 1.5rem;
  transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.checkbox {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

input[type="checkbox"] {
  vertical-align: -10%;
  margin-right: 0.5rem;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #295397;
  border-radius: 32px;
  background-color: #295397;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #295397;
  background-color: transparent;
  color: #295397;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
  -ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
  transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
  -ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
  transform: translateY(0) perspective(37.5rem) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
  -ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
  transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/**********************/
/*     Navigation     */
/**********************/
.navbar {
  background-color: #295397;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  height: 50px;
}

.navbar .logo-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #295397;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #dadfe2;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: #ffffff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .dropdown-menu {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: #295397;
}

.navbar .dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #dadfe2;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: #295397;
  color: #ffffff;
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #709bb3;
}
/* end of dropdown menu */

.navbar .nav-item .btn-outline-sm {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.navbar .nav-item .btn-outline-sm:hover {
  background-color: #ffffff;
  color: #295397;
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/*****************/
/*    Header     */
/*****************/
.header {
  position: relative;
  overflow: hidden;
  padding-top: 6.5rem;
  padding-bottom: 7rem;
  background-color: #295397;
  text-align: center;
}

.header .text-container {
  margin-bottom: 3rem;
}

.header h1 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.header .p-large {
  margin-bottom: 2.125rem;
  color: #ffffff;
}

.header .btn-solid-lg {
  margin-bottom: 1rem;
}

.header .btn-solid-lg,
.header .btn-outline-lg {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.header .btn-solid-lg {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #295397;
}

.header .btn-solid-lg:hover {
  background-color: transparent;
  color: #ffffff;
}

.header .btn-outline-lg {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.header .btn-outline-lg:hover {
  background-color: #ffffff;
  color: #295397;
}

.header .header-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

/********************/
/*    Customers     */
/********************/
.slider-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.slider-1 .slider-container {
  padding: 1rem;
}

/**********************/
/*    Description     */
/**********************/
.cards-1 {
  padding-top: 3.5rem;
  padding-bottom: 3.75rem;
  text-align: center;
}

.cards-1 .h2-heading {
  margin-bottom: 3.75rem;
}

.cards-1 .card {
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
}

.cards-1 .card-image img {
  max-width: 200px;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
}

.cards-1 .card-body {
  padding: 0;
}

#special {
  top: 20%;
}

.cards-1 .card-title {
  margin-bottom: 0.5rem;
}

.cards-1 p {
  margin-bottom: 0;
}

/********************/
/*     Features     */
/********************/
.tabs {
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.tabs .section-title {
  text-align: center;
}

.tabs .h2-heading {
  margin-bottom: 0.75rem;
  text-align: center;
}

.tabs .p-heading {
  margin-bottom: 3.125rem;
  text-align: center;
}

.tabs .nav-tabs {
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  justify-content: center;
  border-bottom: none;
}

.tabs .nav-link {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.375rem 1rem;
  border: none;
  border-bottom: 2px solid #c9d9ec;
  border-radius: 0;
  color: #76838c;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
  border-bottom: 2px solid #295397;
  background-color: transparent;
  color: #295397;
}

.tabs .nav-link .fas {
  margin-right: 0.625rem;
}

.tabs .tab-content {
  width: 100%; /* for proper display in IE11 */
}

.tabs .image-container {
  margin-bottom: 3rem;
}

.tabs h3 {
  margin-bottom: 1.125rem;
}

.tabs .list-unstyled {
  margin-bottom: 1.75rem;
}

.tabs .list-unstyled .fas {
  color: #295397;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.tabs .list-unstyled .media-body {
  margin-left: 0.5rem;
}

/*******************/
/*     Details     */
/*******************/
.basic-1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.basic-1 .text-container {
  margin-bottom: 4rem;
}

.basic-1 h2 {
  margin-bottom: 1.5rem;
}

.basic-1 .list-unstyled {
  margin-bottom: 1.625rem;
}

.basic-1 .list-unstyled .fas {
  color: #295397;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.basic-1 .list-unstyled .media-body {
  margin-left: 0.5rem;
}




/*******************/
/*     Pricing     */
/*******************/
.cards-2 {
  padding-top: 8rem;
  padding-bottom: 2.25rem;
}

.cards-2 .section-title {
  text-align: center;
}

.cards-2 .h2-heading {
  margin-bottom: 3.75rem;
  text-align: center;
}

.cards-2 .card {
  max-width: 330px;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  border: 2px solid #e4e7fc;
  border-radius: 8px;
  text-align: center;
}

.cards-2 .card .card-body {
  padding: 3rem 1.625rem 3.25rem 1.625rem;
}

.cards-2 .card .card-title {
  margin-bottom: 0.75rem;
  color: #2b44ff;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.cards-2 .card .value {
  color: #2f363b;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.5rem;
}

.cards-2 .card .currency {
  margin-right: 0.25rem;
  color: #2f363b;
  font-size: 1.375rem;
  vertical-align: 50%;
}

.cards-2 .card .frequency {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.cards-2 .card .cell-divide-hr {
  height: 2px;
  margin-top: 0;
  margin-bottom: 2.25rem;
  border: none;
  background-color: #e4e7fc;
}

.cards-2 .card .list-unstyled {
  margin-bottom: 1.75rem;
  text-align: left;
}

.cards-2 .card .list-unstyled li {
  margin-bottom: 0.5rem;
}

.cards-2 .card .list-unstyled .fas {
  color: #2b44ff;
  font-size: 0.75rem;
  line-height: 1.625rem;
}

.cards-2 .card .list-unstyled .fas.fa-times {
  color: #828286;
}

.cards-2 .card .list-unstyled .media-body {
  margin-left: 0.5rem;
}

/************************/
/*     Testimonials     */
/************************/
.slider-2 {
  padding-top: 1.25rem;
  padding-bottom: 8.25rem;
}

.slider-2 .slider-container {
  position: relative;
}

.slider-2 .swiper-container {
  position: static;
  width: 82%;
  text-align: center;
}

.slider-2 .image-wrapper {
  width: 96px;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}

.slider-2 .image-wrapper img {
  border-radius: 50%;
}

.slider-2 .testimonial-text {
  margin-bottom: 0.5rem;
}

.slider-2 .testimonial-author {
  color: #2f363b;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
  width: 18px;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
  /* even if you can't see it chrome you can see it on mobile device */
  outline: none;
}

.slider-2 .swiper-button-prev {
  left: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

.slider-2 .swiper-button-next {
  right: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
  background-size: 18px 28px;
}

/**********************/
/*     Newsletter     */
/**********************/
.form-1 .form-container {
  padding: 4rem 1rem;
  border-radius: 10px;
}

.form-1 .section-title,
.form-1 .h2-heading {
  text-align: center;
}

.form-1 .h2-heading {
  margin-bottom: 2rem;
}

/******************/
/*     Social     */
/******************/
.basic-3 {
  padding-top: 0rem;
  padding-bottom: 4rem;
  text-align: center;
}

.fa-stack {
  width: 2em;
  margin-bottom: 0.75rem;
  margin-right: 0.375rem;
  font-size: 1.5rem;
}

.fa-stack .fa-stack-1x {
  color: #f0f0f6;
  transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
  color: #295397;
  transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
  color: #295397;
}

.fa-stack:hover .fa-stack-2x {
  color: #f8f8fe;
}

/******************/
/*     Footer     */
/******************/
.footer-decoration {
  position: relative;
  width: 100%;
  height: 20px;
}

.footer-decoration .footer-frame {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #295397;
}

.footer a {
  text-decoration: none;
}

.footer .text-container {
  margin-bottom: 2.5rem;
}

.footer h6 {
  margin-bottom: 0.625rem;
  color: #e2e1e8;
}

.footer p,
.footer a,
.footer ul {
  color: #e2e1e8;
}

.footer .li-space-lg li {
  margin-bottom: 0.375rem;
}

.footer .fas {
  margin-right: 0.5rem;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
  padding-bottom: 1rem;
  background-color: #295397;
  text-align: center;
}

.copyright p,
.copyright a {
  color: #e2e1e8;
  text-decoration: none;
}

/******************************/
/*     Back To Top Button     */
/******************************/
/* a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 12px;
  bottom: 12px;
  display: none;
  width: 42px;
  height: 42px;
  border-radius: 30px;
  background: #7461ff url("../images/up-arrow.png") no-repeat center 47%;
  background-size: 18px 18px;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #4d3dc4;
} */

/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
  padding-top: 8.5rem;
  padding-bottom: 4rem;
  background-color: #295397;
}

.ex-header h1 {
  color: #ffffff;
}

.ex-basic-1 .list-unstyled .fas {
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
  margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  background-color: #f5f6fb;
}

.ex-cards-1 .card {
  border: none;
  background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
  width: 2em;
  font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
  color: #295397;
}

.ex-cards-1 .card .fa-stack-1x {
  color: #ffffff;
  font-weight: 600;
  line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
  margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
  margin-top: 0.125rem;
  margin-bottom: 0.375rem;
}

.ex-form-1 .text-box {
  padding: 2.5rem 1.5rem 1.5rem 1.75rem;
  border-radius: 10px;
  background-color: #f5f6fb;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* Header */
  .header .header-decoration {
    height: 100px;
  }
  /* end of header */

  /* Footer */
  .footer-decoration {
    height: 40px;
  }

  .footer-decoration .footer-frame {
    height: 40px;
  }
  /* end of footer */

  /* Extra Pages */
  .ex-basic-1 .text-box {
    padding: 1.75rem 2rem 0.875rem 2rem;
  }

  /* end of extra pages */
}
/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h1-large {
    font-size: 3.5rem;
    line-height: 4.375rem;
  }

  #special {
    top: 25% !important;
  }


  .download-tile {
    padding-bottom: 2rem;
  }

  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .p-heading {
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Navigation */
  .navbar {
    padding-top: 1.75rem;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.2s;
  }

  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #295397;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
  }

  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }

  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }

  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }

  .navbar .dropdown-menu {
    margin-top: 0.25rem;
    box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.08);
  }

  .navbar .dropdown-divider {
    width: 90%;
  }

  .navbar .nav-item .btn-outline-sm {
    margin-left: 0.875rem;
  }
  /* end of navigation */

  /* Header */
  .header {
    padding-top: 11rem;
    padding-bottom: 10rem;
    text-align: left;
  }

  .header .text-container {
    margin-bottom: 0;
  }

  .header .btn-solid-lg {
    margin-bottom: 0;
  }

  .header .btn-solid-lg,
  .header .btn-outline-lg {
    margin-right: 0.5rem;
    margin-left: 0;
  }

  .header .image-container {
    /* transform: rotate(2deg); */
    filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.2));
  }

  .header .header-decoration {
    height: 160px;
  }
  /* end of header */

  /* Description */
  .cards-1 .card {
    display: inline-block;
    width: 284px;
    vertical-align: top;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* end of description */

  /* Features */
  .tabs .image-container {
    margin-bottom: 0;
  }
  /* end of features */

  /* Details */
  .basic-1 .text-container {
    margin-bottom: 0;
  }
  /* end of details */

  /* Details Lightbox */
  .lightbox-basic {
    padding: 3rem 3rem;
  }

  .lightbox-basic .image-container {
    margin-bottom: 0;
    text-align: left;
  }
  /* end of details lightbox */

  /* Pricing */
  .cards-2 .card {
    display: inline-block;
    width: 304px;
    max-width: 100%;
    vertical-align: top;
  }

  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 0.125rem;
    margin-left: 0.125rem;
  }
  /* end of pricing */

  /* Testimonials */
  .slider-2 .swiper-container {
    width: 87%;
    text-align: left;
  }

  .slider-2 .image-wrapper {
    float: left;
    width: 160px;
    margin-bottom: 0;
  }

  .slider-2 .text-wrapper {
    max-width: 100%;
    margin-top: 1.375rem;
    margin-left: 13rem;
  }

  .slider-2 .swiper-button-prev {
    left: 0;
    width: 22px;
    background-size: 22px 34px;
  }

  .slider-2 .swiper-button-next {
    right: 0;
    width: 22px;
    background-size: 22px 34px;
  }
  /* end of testimonials */

  /* Newsletter */
  .form-1 form {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of newsletter */

  /* Footer */
  .footer-decoration {
    height: 60px;
  }

  .footer-decoration .footer-frame {
    height: 60px;
  }
  /* end of footer */

  /* Extra Pages */
  .ex-cards-1 .card {
    display: inline-block;
    width: 296px;
    vertical-align: top;
  }

  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* end of extra pages */
}
/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* Navigation */
  .navbar .container {
    max-width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  /* end of navigation */

  /* Header */
  .header {
    padding-top: 18rem;
    padding-bottom: 18rem;
  }

  .header .text-container {
    margin-right: 4.5rem;
  }

  .header .image-container {
    position: absolute;
    z-index: 1;
    top: -80px;
    left: -40px;
    width: 800px;
  }

  .header .header-decoration {
    height: 260px;
  }
  /* end of header */

  /* Customers */
  .slider-1 .slider-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* end of customers */

  /* Description */
  .cards-1 .card {
    width: 320px;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 4.375rem;
    margin-left: 4.375rem;
  }
  /* end of description */

  /* Features */
  .tabs .nav-tabs {
    margin-bottom: 1.75rem;
  }

  .tabs .image-container {
    margin-right: 1rem;
  }

  .tabs .text-container {
    margin-top: 1.25rem;
    margin-left: 2rem;
  }
  /* end of features */

  /* Details */
  .basic-1 .text-container {
    margin-top: 1rem;
    margin-right: 3rem;
  }
  /* end of details */

  /* Details Lightbox */
  .lightbox-basic .image-container {
    margin-right: 1.5rem;
  }
  /* end of details lightbox */

  /* Pricing */
  .cards-2 .card {
    width: 334px;
  }

  .cards-2 .card .card-body {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  /* end of pricing */

  /* Newsletter */
  .form-1 .form-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /* end of newsletter */

  /* Footer */
  .footer .text-container.second,
  .footer .text-container.third {
    margin-left: 2rem;
  }
  /* end of footer */

  /* Extra Pages */
  .ex-cards-1 .card {
    width: 336px;
  }

  .ex-cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }
  /* end of extra pages */
}
/* end of min-width 1200px */
