Section: games
Priority: optional
Architecture: all
Maintainer: Rohan Bansal <rohan@rbansal.dev>
Description: A cross-platform app that allows for building and simulating FRC electronics in real time.
 Created by TKO Programming
  * Circuit diagramming with FRC parts (see subsection below for list)
  * Creating, moving, connecting devices with cables
  * Saving/importing circuits as shareable files
  * Simulation for wiring errors
  * Simple LED simulation
  * 2D CAD-inspired GUI
  * Keybinds, help menu, options menu, and other QOL features
 * Packages for easy installation (support for Windows, MacOS, Linux)
Depends: openjdk-8-jre, jarwrapper
