[Desktop Entry]
Encoding=UTF-8
Name=TKO Electronics Simulator
Comment=Real-time FRC Circuit Simulation
Exec=/usr/games/tko-electronics-sim
Icon=/usr/share/tko-electronics-sim/tko-electronics-sim-icon.png
Terminal=false
Type=Application
Categories=Game
StartupNotify=true
