[Desktop Entry]
Encoding=UTF-8
Name=TKO 1351 Circuit Simulator
Comment=Electronics Simulator Built for Real FRC Testing
Exec=/usr/games/circuitsim
Icon=/usr/share/circuitsim/circuitsimicon.png
Terminal=false
Type=Application
Categories=Game
StartupNotify=true
